<h2 mat-dialog-title *ngIf="!newcard">Edit Card</h2>
<h2 mat-dialog-title *ngIf="newcard">Add Card</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Bank</mat-label>
      <mat-select [(ngModel)]="data.bankGuid" name="bankGuid" id="bankGuid">
        <mat-option *ngFor="let bank of banks" [value]="bank.guid">{{ bank.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Card Name</mat-label>
      <mat-select [(ngModel)]="data.name" name="cardName" id="cardName">
        <mat-option *ngFor="let card of cards" [value]="card.name">{{ card.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="data.description" name="description" id="description">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Image URL</mat-label>
      <input matInput [(ngModel)]="data.imageUrl" name="imageUrl" id="imageUrl">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
